@font-face
{
font-family: "Nova";
src: url("../Fonts/NOVABOLD.otf");
}

/*******Container*******/
#container{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#A1A1A1;
}
/*******Header*******/
#header{
	position:fixed;
	top:0xp;
	left:0px;
	height:100px;
	width:100%;
	background-color:#616161;
	box-shadow: 0px 2px 5px #888888;
}
/*******Information*******/
#main{
    font-family: 'Roboto', sans-serif;   
    
}
.h1 {
    font-family: 'Roboto', sans-serif;
}

/*******Logo*******/
#logo{
	position:fixed;
	top:0px;
	left:300px;
	height:100px;
	width:306px;
	text-shadow: black 0px .5px 2px;

}
#logo h1{
	position:fixed;
	top:0px;
	width:350px;
	font-family:"Nova";	
	color:white;
}
#logo h2{
	position:fixed;
	top:32px;
	width:350px;
	font-family:"Nova";
	color:white;
}
/*******Line*******/
#line{
	position:fixed;
	top:58px;
	left:298px;
	width:338px;
	height:2px;
	background-color:white;
}
/*******Info*******/
#info{
	margin:auto;
	width:1200px;
	height:95%;
	background-color:#EBECE4;
	box-shadow: inset 0px 0px 8px #888888;
}
/*******footer*******/
#footer{
	position:fixed;
	bottom:0xp;
	left:0px;
	height:100px;
	width:100%;
	background-color:#C1CDC1;
	box-shadow: 0px 2px 5px #888888;
}
/*******footer*******/
#greetings{
	position:relative;
	top:150px;
	width:900px;
	height:500px;
	padding:5px;
	margin:auto;
	background-color:#FFFAFA;
	box-shadow: 0px 0px 8px #888888;
}	

